.signup{
	display: inline-block;
}

.signin{
	display: inline-block;
}



h1 {
	margin-left: 25%
}

.messagebox {
	display: inline-block;
}

.logins {
	margin-left: 25%;
	margin-right:25%;
	width: 50%;
	padding-top: 20px;
	padding-bottom:20px;
}

.rowTwo {
	margin-left: 25%;
	margin-right:25%;
	width: 80%;
	padding-bottom:20px;
}

#message {
	width: 310px;
}

.messages {

	margin-left: 25%	
	
}

.refresh {

}

.app {
	width: 300px;
}
.user {
	font-weight: bold;

}
/*.msg {
	margin-left: 25%;
	margin-right:25%;
	width: 50%;
}*/